---
layout: default
title: Matheus C. Santos Personal Webpage
---

<div id="home">

	<div class="hero">
		<div class="myphotodiv">
			<img class="myphoto" src="img/avatar.jpg">
		</div>
		<div class="bio">
			<p>
			PhD student of Computer Science at the Federal University of Minas Gerais, Brazil. His research interest includes Big Data, distributed computing, performance analysis. He holds Bachelor and Masters degree in Computer Science by Unversidade Federal de Minas Gerais. He also interests in GPGPU programming, software engineering, complex networks and embedded systems.
			</p>
		</div>
	</div>


	<div class="homeCols">
		<div class="projectsColumn">
			<h1>Projects</h1>
			{% assign pages_list = site.categories.project | sort:"importance" %}
			{% for post in  pages_list %}
			<div class="project">
				<a href="{{ post.link }}">
					<img style="width:10em" src ={{ post.logo }}>
				</a>

				<p> {{ post.subtitle }}
				<br>
				<a href="{{ post.link }}">More >></a>
				</p>
			</div>
			{% endfor %}
		</div>

		<div class="postsColumn">
			<h1>Last Posts</h1>
			<ul class="posts">
				{% for post in site.posts limit:10 %}
				<li><span>{{ post.date | date_to_string }}</span> - <a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
